# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/ipch
.vscode
.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# KiCad files
~*.lck
electrical/pcb_boards/2t6_competition_board/capybara_rocket/capybara_rocket-backups/
electrical/pcb_boards/2t6_competition_board/capybara_rocket/fp-info-cache
electrical/pcb_boards/2t6_competition_board/capybara_rocket/#auto_saved_files#
electrical/pcb_boards/2t6_competition_board/capybara_rocket/*.lck
electrical/pcb_boards/2t6_competition_board/capybara_habitat/capybara_habitat-backups/
electrical/pcb_boards/2t6_competition_board/capybara_habitat/fp-info-cache
electrical/pcb_boards/2t6_competition_board/capybara_habitat/#auto_saved_files#
electrical/pcb_boards/2t6_competition_board/capybara_habitat/*.lck
